
html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: solid;
	background-image: url(../images/Background.png);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-shadow: 0 1px 1px #fff;
	overflow: hidden;
	color: #111;
}

p {
	margin: .7em 0 
}

h1 {
	font-size: 1.2em; 
}

pre {
	white-space: pre-wrap;
	font-family: Arial;
	font-size: .8em;
}

.noTitle .ui-dialog-titlebar {
	display: none;
}

#results {
	padding:0 1em;
	font-size: .9em;
	min-height: 1em;
}

a:link, a:visited {
	color: #383838;
	font-weight: bold;
	text-decoration: none; 
}

#highlights {
	width: 90%;
	margin: 2% auto;
	min-height: 40px;
	max-height: 100%;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	border-style: none;
	border-width: thin;
	border-color: #a8a8a8;
	box-shadow: 2px 2px 2px #bbb;
	-webkit-box-shadow: 2px 2px 2px #bbb;
	-moz-box-shadow: 2px 2px 2px #bbb;
	background-color: #ffffff;
	padding: 2%;
	overflow: auto;
	text-align: left;
	resize: none;
}

#highlights:focus {
	outline:none 
}

#highlights-container {
	max-height: 100%;
}

#highlights-container p {
	width: 90%;
	margin: 0 auto;
	text-align: right; 
}

.results-frame-full {
	width: 98%;
	width: calc(100% - 2em);
	top: 0px;
	left: 0px;
}

.results-frame {
	width: 98%;
	width: calc(100% - 300px - 2em);
	top: 0px;
	left: 300px;
}

#results-frame {
	height: 97%;
	height: calc(100% - 2em);
	position: absolute;
	top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2%;
	margin-right: 2%;
	border: 0;
	overflow: hidden;
}

#results-container {
	width: auto;
	margin: -1px 2% -1px 0px;
}

#toggle-button-container {
	height: 2em;
	width: 1em;
	top: 45%;
	left: 0;
	position: absolute;
	z-index: 99;
}

#toggle-button {
	color: #555;
	text-shadow: 0 1px 1px #fff 
}

#toggle-button {
	font-family: "Letter Gothic Std", "MS Gothic", Courier;
	font-size: 2em;
	list-style-type: none;
	display: block;
	float: left;
	margin:0 0 1em 0;
	padding: .2em 0;
	text-align: left;
	border-top: solid thin #ccc;
	border-bottom: solid thin #ccc;
	background-image: -moz-linear-gradient(top , #D6D6D6, #B5B5B5 79%);
	background-image: -webkit-linear-gradient(top , #D6D6D6, #B5B5B5 79%);
	background-image: -o-linear-gradient(top , #D6D6D6, #B5B5B5 79%);
	background-image: -ms-linear-gradient(top , #D6D6D6, #B5B5B5 79%);
	background-image: linear-gradient(top , #D6D6D6, #B5B5B5 79%)	color: #efefef;
	border: solid 1px #777;
	background-color: #E8E8E8;
	-webkit-box-shadow: 1px 1px 1px #bbb;
	-moz-box-shadow: 1px 1px 1px #bbb;
	-o-box-shadow: 1px 1px 1px #bbb;
	box-shadow: 1px 1px 1px #bbb; 
}


.properties-container h1, #results h1 {
	display: block;
	margin:0 0 0 0;
	font-size: .9em;
	font-family: "Lucida Grande", Arial, sans-serif;
	padding: .2em 0 .2em 20px;
	text-align: left;
	color: #4b4b4b;
	background-color: #c8c8c8;
	background-image:  url(images/Open.png), -moz-linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	background-image: url(images/Open.png), -webkit-linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	background-image: -o-linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	background-image: -ms-linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	background-image: linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	border-bottom: solid 1px #999;
	clear: both;
	text-shadow: 0 1px 1px #eee;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-repeat: no-repeat;
	background-position: 4px center, left top; 
}

.properties-container h1.closed, #results h1.closed {
	background-color: #c8c8c8;
	background-image:  url(images/Closed.png), -moz-linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	background-image: url(images/Closed.png), -webkit-linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	background-image: -o-linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	background-image: -ms-linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px);
	background-image: linear-gradient(top , #D4D4D4, #B0B0B0 32px,#B3B3B3 100px); 
}

h2 {
	font-size: 1em;
	text-align: right;
	margin: 0 0 0 0;
	color: #6c6c6c;
	padding: .2em 1em 
}

.properties-container {
	border: solid 1px #999;
	padding: 0;
	border-color: #b3b3b3;
	-webkit-box-shadow: 1px 1px 2px #bbb;
	-moz-box-shadow: 2px 2px 2px #bbb;
	-webkit-transition: border .75s;
	-o-box-shadow: 2px 2px 2px #bbb;
	box-shadow: 2px 2px 2px #bbb;
	background-color: #e5e5e5;
	/*	padding-bottom: .5em;
	*/	overflow: hidden; 
}

.properties-container {
	margin: -1px 2%;
	width: 270px; 
}

.property-container {
	text-align: right;
	margin: .5em auto;
	-webkit-transition: opacity 1s;
	clear: both;
	height: 1.3em;
	width: 90%; 
}

a:link { 
}

a:visited { 
}

a:hover { 
}

a:active { 
}

textarea {
	vertical-align: middle;
	height: 3em;
	font-size: .8em;
	text-align: left;
	resize: vertical;
	float: right;
	width: 70%;
	margin-left: .4em;
	-webkit-appearance: textarea;
	border: 1px #b3b3b3 solid;
	font-family: inherit;
}

input[type="number"] {
	width: 3.5em;
	margin: 0;
	border-style: 1px solid;
	font-size: .8em;
	text-align: right;
	vertical-align: bottom;
	height: 16px;
	-webkit-appearance: textfield;
	border: solid 1px #b3b3b3;
}

input[type="checkbox"] {
	width: 3.5em;
	margin: 0;
	border-style: 1px solid;
	font-size: .8em;
	vertical-align: bottom;
	height: 16px;
	-webkit-appearance: checkbox
	border: solid 1px #b3b3b3;
}

input:focus {
	outline: none 
}

label {
	font-size: .8em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: bottom; 
}

#wrapper {
	position: relative;
 	overflow: visible;
	height: 100%;
	min-height: 100%;
	min-width: 900px;
}

#button-choice input {
	list-style-type: none;
	display: block;
	width:135px;
	float: left;
	margin:0 0 1em 0;
	padding: .2em 0;
	text-align: center;
	border-top: solid thin #ccc;
	border-bottom: solid thin #ccc;
	background-image: -moz-linear-gradient(top , #D6D6D6, #B5B5B5 79%);
	background-image: -webkit-linear-gradient(top , #D6D6D6, #B5B5B5 79%);
	background-image: -o-linear-gradient(top , #D6D6D6, #B5B5B5 79%);
	background-image: -ms-linear-gradient(top , #D6D6D6, #B5B5B5 79%);
	background-image: linear-gradient(top , #D6D6D6, #B5B5B5 79%)	color: #efefef;
	border: solid 1px #777;
	background-color: #E8E8E8;
	-webkit-box-shadow: 1px 1px 1px #bbb;
	-moz-box-shadow: 1px 1px 1px #bbb;
	-o-box-shadow: 1px 1px 1px #bbb;
	box-shadow: 1px 1px 1px #bbb; 
}

#button-choice input:first-child {
	border-right: none;
	-webkit-border-top-left-radius: .5em;
	-moz-border-radius-topleft: .5em;
	-o-border-radius-topleft: .5em;
	-ms-border-radius-topleft: .5em;
	border-top-left-radius: .5em;
	-webkit-border-bottom-left-radius: .5em;
	-moz-border-radius-bottomleft: .5em;
	-o-border-radius-bottomleft: .5em;
	-ms-border-radius-bottomleft: .5em;
	border-bottom-left-radius: .5em; 
}

#button-choice input:last-child {
	-webkit-border-top-right-radius: .5em;
	-moz-border-radius-topright: .5em;
	-o-border-radius-topright: .5em;
	-ms-border-radius-topright: .5em;
	border-top-right-radius: .5em;
	-webkit-border-bottom-right-radius: .5em;
	-moz-border-radius-bottomright: .5em;
	-o-border-radius-bottomright: .5em;
	-ms-border-radius-bottomright: .5em;
	border-bottom-right-radius: .5em; 
}

#button-choice input {
	display:block 
}

#button-choice input:hover, #button-choice li.current {
	background-color: #bbb;
	background: -moz-linear-gradient(top , #b5b5b5, #D6D6D6 79%);
	background: -webkit-linear-gradient(top , #b5b5b5, #D6D6D6 79%);
	background: -o-linear-gradient(top , #b5b5b5, #D6D6D6 79%);
	background: -ms-linear-gradient(top , #b5b5b5, #D6D6D6 79%);
	background: linear-gradient(top, #b5b5b5, #D6D6D6 79%)	; 
}

#button-choice input:hover input, #button-choice li.current input {
	color: #555;
	text-shadow: 0 1px 1px #fff 
}

#button-choice {
	padding: 0;
	width: 100%;
	margin-top: 1em;
	padding-left: 2%;
	font-size: .9em; 
}

#button-choice input {
	font-weight: bold; 
}

.toggle-container {
	overflow: hidden;
}
